.autocomplete {
  position: relative;
  width: 40vw;
  margin-top: 2rem;
}

.autocomplete__input {
  color: white;
  width: 40vw;
  font-size: 20px;
  height: 48px;
  padding: 4px 8px;
  outline-color: #61dafb;
  background-color: #282c34;
}

.suggestions-list {
  color: black;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 230px;
  overflow-y: scroll;
  width: 100%;
  background-color: #d1dafb;
}

.suggestions-list__item {
  height: 40px;
  font-size: 20px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.suggestions-list__item--error {
  background-color: #cf5b5b;
  color: white;
}

.suggestions-list__item--active {
  background-color: #61dafb;
}

.highlighted {
  background-color: yellow;
}
